
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPersonRoleLabel">Create or edit a Person Role</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.personRole.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.personRole.id" readonly />
        </div>

        <div class="form-group">
            <label for="field_person">Person</label>
            <select class="form-control" id="field_person" name="person" ng-model="vm.personRole.person" ng-options="person as person.id for person in vm.people track by person.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_role">Role</label>
            <select class="form-control" id="field_role" name="role" ng-model="vm.personRole.role" ng-options="role as role.roleName for role in vm.roles track by role.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
