
<div>
    <h2><span>Person Role</span> {{vm.personRole.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Person</span></dt>
        <dd>
            <a ui-sref="person-detail({id:vm.personRole.person.id})">{{vm.personRole.person.id}}</a>
        </dd>
        <dt><span>Role</span></dt>
        <dd>
            <a ui-sref="role-detail({id:vm.personRole.role.id})">{{vm.personRole.role.roleName}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="person-role-detail.edit({id:vm.personRole.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
