
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPersonChannelLabel">Create or edit a Person Channel</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.personChannel.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.personChannel.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_channelDesc">Channel Desc</label>
            <input type="text" class="form-control" name="channelDesc" id="field_channelDesc"
                    ng-model="vm.personChannel.channelDesc"
                    required/>
            <div ng-show="editForm.channelDesc.$invalid">
                <p class="help-block"
                    ng-show="editForm.channelDesc.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_person">Person</label>
            <select class="form-control" id="field_person" name="person" ng-model="vm.personChannel.person" ng-options="person as person.id for person in vm.people track by person.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_channel">Channel</label>
            <select class="form-control" id="field_channel" name="channel" ng-model="vm.personChannel.channel" ng-options="channel as channel.channelName for channel in vm.channels track by channel.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
