
<div>
    <h2><span>Person Channel</span> {{vm.personChannel.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Channel Desc</span></dt>
        <dd>
            <span>{{vm.personChannel.channelDesc}}</span>
        </dd>
        <dt><span>Person</span></dt>
        <dd>
            <a ui-sref="person-detail({id:vm.personChannel.person.id})">{{vm.personChannel.person.id}}</a>
        </dd>
        <dt><span>Channel</span></dt>
        <dd>
            <a ui-sref="channel-detail({id:vm.personChannel.channel.id})">{{vm.personChannel.channel.channelName}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="person-channel-detail.edit({id:vm.personChannel.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
