
<div>
    <h2><span>Request</span> {{vm.request.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Sender</span></dt>
        <dd>
            <span>{{vm.request.sender}}</span>
        </dd>
        <dt><span>Receiver</span></dt>
        <dd>
            <span>{{vm.request.receiver}}</span>
        </dd>
        <dt><span>Metadata</span></dt>
        <dd>
            <span>{{vm.request.metadata}}</span>
        </dd>
        <dt><span>Result</span></dt>
        <dd>
            <span>{{vm.request.result}}</span>
        </dd>
        <dt><span>Channel</span></dt>
        <dd>
            <span>{{vm.request.channel}}</span>
        </dd>
        <dt><span>Retry Count</span></dt>
        <dd>
            <span>{{vm.request.retryCount}}</span>
        </dd>
        <dt><span>Request Created Date</span></dt>
        <dd>
            <span>{{vm.request.requestCreatedDate | date:'medium'}}</span>
        </dd>
        <dt><span>Last Retry Date</span></dt>
        <dd>
            <span>{{vm.request.lastRetryDate | date:'medium'}}</span>
        </dd>
        <dt><span>Sent Date</span></dt>
        <dd>
            <span>{{vm.request.sentDate | date:'medium'}}</span>
        </dd>
        <dt><span>Sent Result Status</span></dt>
        <dd>
            <span>{{vm.request.sentResultStatus}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="request-detail.edit({id:vm.request.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
