<div>
    <h2>Requests</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="request.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down" >
                        Create new Request
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Query">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sender"><span>Sender</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="receiver"><span>Receiver</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="metadata"><span>Metadata</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="result"><span>Result</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="channel"><span>Channel</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="retryCount"><span>Retry Count</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="requestCreatedDate"><span>Request Created Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastRetryDate"><span>Last Retry Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sentDate"><span>Sent Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sentResultStatus"><span>Sent Result Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="request in vm.requests track by request.id">
                    <td><a ui-sref="request-detail({id:request.id})">{{request.id}}</a></td>
                    <td>{{request.sender}}</td>
                    <td>{{request.receiver}}</td>
                    <td>{{request.metadata}}</td>
                    <td>{{request.result}}</td>
                    <td>{{request.channel}}</td>
                    <td>{{request.retryCount}}</td>
                    <td>{{request.requestCreatedDate | date:'medium'}}</td>
                    <td>{{request.lastRetryDate | date:'medium'}}</td>
                    <td>{{request.sentDate | date:'medium'}}</td>
                    <td>{{request.sentResultStatus}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="request-detail({id:request.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="request.edit({id:request.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="request.delete({id:request.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
